#alias mysql='cd //usr/local/mysql/bin; ./mysql -h 134.7.58.72 -u 15560955 -p'
#alias mysql='/usr/local/mysql/bin/mysql -u root -h localhost'
alias mysql='mysql -u root -h localhost'
alias gcc='gcc -Wall -ansi -pedantic'
alias c='clear'
alias lsa='ls -a'
alias lsl='ls -l'
alias lsal='ls -al'
alias ls.='ls -d .*'
alias ds120='/Users/chrisgarland/curtin/units/2016_s2/ISYS1001'
alias junit='java -ea org.junit.runner.JUnitCore'
alias oose='cd ~/curtin/units/2016_s2/COMP2003'
#alias mvim='TERM=screen-256color /usr/local/Cellar/macvim/8.0-110/MacVim.app/Contents/MacOS/MacVim'
alias vim='TERM=screen-256color /usr/local/Cellar/macvim/8.0-110/MacVim.app/Contents/MacOS/Vim'
alias tmux='TERM=screen-256color-bce tmux'

